name: Build Linux

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

concurrency: 
  group: build-Linux-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install Packages
        run: |
          sudo apt-get update
          sudo apt-get install flex boost

          wget https://ftp.gnu.org/gnu/bison/bison-3.7.6.tar.gz
          tar xvfz bison-3.7.6.tar.gz
          cd bison-3.7.6
          ./configure
          make 
          sudo make install
          mkdir '${{runner.workspace}}/build'

      - name: Test
        run: |
          cd '${{runner.workspace}}/build'
          CC=gcc-10 CXX=g++-10 cmake ../ -DCMAKE_BUILD_TYPE=Debug -DVERIFYPN_Static=OFF -DVERIFYPN_MC_Simplification=OFF -DVERIFYPN_TEST=ON
          make
          make test

      - name: Build 
        run: |
          cd '${{runner.workspace}}/build'
          CC=gcc-10 CXX=g++-10 cmake ../ -DCMAKE_BUILD_TYPE=Release -DVERIFYPN_Static=ON -DVERIFYPN_MC_Simplification=OFF -DVERIFYPN_TEST=OFF
          make

      - name: Upload artifacts 
        uses: actions/upload-artifact@v2
        with:
          name: verifypn-linux64
          path: '${{runner.workspace}}/build/verifypn/bin/verifypn-linux64'
