name: Build Linux

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

concurrency:
  group: build-Linux-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install Packages
        run: |
          sudo apt-get update
          sudo apt-get install flex libboost-all-dev bison

      - name: Test
        run: |
          mkdir -p build
          cd build
          CC=gcc-14 CXX=g++-14 cmake ../ -DCMAKE_BUILD_TYPE=Debug -DVERIFYPN_Static=OFF -DVERIFYPN_MC_Simplification=OFF -DVERIFYPN_TEST=ON
          make -j$(nproc)
          CTEST_OUTPUT_ON_FAILURE=1 make test

      - name: Build
        run: |
          mkdir -p build
          cd build
          # We create a static binary with parallel simplification - works both for the MCC competition as well as releases
          CC=gcc-14 CXX=g++-14 cmake ../ -DCMAKE_BUILD_TYPE=Release -DVERIFYPN_Static=ON -DVERIFYPN_MC_Simplification=ON -DVERIFYPN_TEST=OFF
          make -j$(nproc)

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: verifypn-linux64
          path: build/verifypn/bin/verifypn-linux64
